<span class="login100-form-title p-b-51">
  Your Profile
</span>
<p><img src="https://avatars.io/gravatar/{{user.email}}"></p>
<p><h2 id="userName">{{user.name}}</h2></p>
<p id="userJob">{{user.job}}</p>
<p id="userPhone">{{user.phone}}</p>
<hr>
<div class="ldBar" id="loader-bar" data-preset="stripe"></div>
<hr>
<a href="/logout">Logout</a>
<hr>
