<form class="login100-form validate-form flex-sb flex-w" method="POST">
  <span class="login100-form-title p-b-51">
    Signup
  </span>

  <div class="wrap-input100 validate-input m-b-16" data-validate = "Name is required">
    <input class="input100" type="text" name="name" placeholder="Name">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-16" data-validate = "Phone Number is required">
    <input class="input100" type="tel" name="phone" placeholder="Phone Number">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-16" data-validate = "Job title is required">
    <input class="input100" type="text" name="job" placeholder="Job Title">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-16" data-validate = "E-Mail is required">
    <input class="input100" type="text" name="email" placeholder="E-Mail">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
    <input class="input100" type="password" name="password" placeholder="Password">
    <span class="focus-input100"></span>
  </div>

  <div class="container-login100-form-btn m-t-17">
    <button class="login100-form-btn">
      Signup
    </button>
  </div>

</form>
